body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.espacio{
    width: auto;
    padding: 50px;    
}
  
  .container-thing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  %circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 4em;
    border-radius: 50%;
    margin-right: 50px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  .green {
    @extend %circle;
    background: #81C784;
  }
  
  .blue {
    @extend %circle;
    background: #64B5F6;
  }
  
  .yellow {
    @extend %circle;
    background: #FFB74D;
  }